*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.range-wrap {
    padding : 20px;
    background-color: black;
    color: white;
    width : 400px;
    height: auto;
    border: 4px solid white;
    border-radius: 10px;
    display: block;
    position: absolute;
    right:5%;
    top: 0%;
    box-shadow: 10px 10px 20px 2px black;
  }
  input[type='range']{
    background-color: aliceblue;
  }
  .range {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: #d3d3d3; 
    width: 300px;
    margin: 10px;
  }

  .range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin: -3px;
    border: 0.5px solid black;
    border-radius: 2px;
    width: 10px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  table{
      width: inherit;
  }
  .bubble {
    width: 30px;
    border : 2px solid black;
    border-radius: 5px;
    color: black;
    background: rgb(255, 255, 255);
    padding: 4px 12px;
  }
  body {
    margin: 2rem;
  }
  